__pycache__/
myStyle.css
node_modules/
src/
.eslintrc.json
.flake8
.gitattributes
.gitignore
.prettierignore
.prettierrc.json
app.log
*.jpg
package-lock.json
package.json
Pipfile
Pipfile.lock
README.md
webpack.config.js